---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: check-json-in-config
        name: Check Renovate presets are listed in pre-commit-config.yaml
        entry: .cicd/hooks/check-json-in-config.py
        language: python
        types: [json]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
        name: Check JSON files with check-json
      - id: check-yaml
        name: Check YAML files with check-yaml
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.1
    hooks:
      - id: check-github-workflows
        name: Check GitHub Actions workflows with check-jsonschema
        args: ["--verbose"]
  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
        name: Check GitHub Actions workflows with zizmor
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.95.1
    hooks:
      - id: renovate-config-validator
        name: Check Renovate config with renovate-config-validator
        files: |
          (?x)(
               (^|/).?renovate(?:rc)?(?:\.json5?)?$|
               default.json|
               copier.json|
               group-by-manager.json|
               groupManager.json|
               pre-commit.json|
               monthly.json|
               weekly.json|
               (?!)
          )$
